[user]
    name = Tobias Pape
    email = tobias@netshed.de
[include]
    path = .gitconfig.local
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[pretty]
    awesome = %Cred%h%Creset %Cblue(%aN)%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset
[alias]
    st = status -sb
    co = checkout
    up = "!git remote update -p; git merge --ff-only @{u}"
    glog = log --graph --pretty=awesome --abbrev-commit --date=relative
    news = !git glog $(git log --author="\"$(git config user.name)\"" --pretty=format:%H -n1)..
    log-me = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%h %cd %s' --date=short
    log-nice  = log --graph --decorate --pretty=oneline --abbrev-commit
    panic     = !tar cvf ../git_panic.tar *
    wdiff = diff --color-words
    graph = log --graph --oneline --decorate
    incoming = "!git remote update -p; git log ..@{u}"
    outgoing = log @{u}..
    ap = add --patch
    undo = reset HEAD~1
    closebranch = "!w() { echo Attempting to close local and remote branch: $1 Processing...; current=$(git rev-parse --abbrev-ref HEAD); echo Checking the branch $1 out..;  git checkout $1;  echo Trying to create a new tag archive/$1;  git tag archive/\"$1\";  git push origin archive/\"$1\";  echo Deleting the local branch $1;  git checkout $current; git branch -D $1;  echo Deleting the remote branch $1;  git push origin --delete $1;  echo Done. To restore the closed branch later, enter: git checkout -b MyNewBranch archive/\"$1\"; }; w"

[log]
    decorate = auto
[merge]
    tool = opendiff
    summary = true
[pull]
    ff = only
# [http]
#   sslVerify = false

# check that anything we're getting is complete and sane on a regular basis 
[transfer] 
    fsckObjects = true 
[fetch] 
    fsckObjects = true 
    recurseSubmodules = true
[receive] 
    fsckObjects = true 

[mergetool]
    keepBackup = true
[push]
    default = simple
    recurseSubmodules = check
[merge "mcVersion"]
    driver = /Users/tobias/dev/GitFileTree-MergeDriver/merge --version %O %A %B
[merge "mcMethodProperties"]
    name = GitFileTree MergeDriver for Monticello
    driver = /Users/tobias/dev/GitFileTree-MergeDriver/merge --methodProperties %O %A %B
[merge "mcProperties"]
    name = GitFileTree MergeDriver for Monticello
    driver = /Users/tobias/dev/GitFileTree-MergeDriver/merge --properties %O %A %B
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    required = true
	process = git-lfs filter-process
[rerere]
    enabled = true
    autoupdate = true
[diff]
    noprefix = true
    compactionHeuristic = true
    algorithm = histogram
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
#[tag]
#	gpgsign = true
